@mixin centrar-todo {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin centrar-todo-columna {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin centrar-todo-fila {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin centrar-verticalmente {
  display: flex;
  align-items: center;
}

@mixin centrar-horizontalmente {
  display: flex;
  justify-content: center;
}
