@import "partials/variables";
@import "partials/mixins";
@import "partials/breakpoints";

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background-color: $negro;
  color: $blanco;
}

.alumnado-container {
  flex: 1;
  align-content: center;
}
