@import "partials/variables";
@import "partials/breakpoints";

.navegacion-principal {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
  @include display-large {
    padding: 1rem 3rem;
  }
}

.logo {
  width: 50px;
}

.titulo-app {
  user-select: none;
  font-size: 1.2rem;
  @include display-medium {
    font-size: 2.2rem;
  }
}

.boton-login {
  padding: 0.5rem 1rem;
  background-color: $violeta-espacio;
  color: $blanco;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
  border-color: $blanco;
}

.boton-login:hover {
  background-color: $azul;
  transition: 0.5s;
}

.lista-de-tablas {
  margin-bottom: 3rem;
}

.lista-de-tablas ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 5px;
  @include display-medium {
    flex-direction: row;
  }
}

.botones-tablas {
  background-color: $azul;
  padding: 1rem;
  border: none;
  color: $blanco;
  cursor: pointer;
  text-decoration: none;
  user-select: none;
  display: block;
  width: 150px;
  text-align: center;
}

.botones-tablas:hover {
  background-color: rgba($azul, 50%);
  transition: 0.5s;
}

footer {
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 2rem 0 1rem;
}

footer a {
  color: $blanco;
  font-size: 1.3rem;
}

footer a:hover {
  color: #9f9f9f;
  transition: 0.5s;
}
