@import "partials/variables";

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 80%;
  max-width: 1000px;
}

table th,
table td {
  border: 1px solid $blanco;
  padding: 8px;
  text-align: center;
}

table th {
  background-color: $violeta-espacio;
  font-weight: bold;
  color: $blanco;
}

table tr:nth-child(even) {
  background-color: #b8b8b8;
  color: $negro;
}

table tr:nth-child(odd) {
  background-color: #808080;
  color: $negro;
}

table tr:hover {
  background-color: $azul;
}
